body{
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

button{
    padding-right: 20px;
    padding-left: 20px;
    font-weight: 900;
    font-size: 16px;
    font-family: sans-serif;
    border-style: solid;
    border-radius: 5px;
}

.container{
    display: flex;
    height: 750px;
    width: 400px;
    background-color: lightgoldenrodyellow;
    flex-wrap: wrap;
}

.display{
    display: flex;
    height: 100px;
    width: 400px;
    background-color: lightgrey;
    border-color: black;
    border-radius: 3px;
    border-top: 5px;
    border: thin solid black;
    justify-content: end;
    align-items: flex-end;
}

.display-text{
  font-size: 70px;
  margin: 5px;
}

.calculator-body{
    display: flex;
    flex-wrap: wrap;
}

.number-button,
#clear{
   padding: 30px;
   margin: 30px;
}

.operators{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}