body{
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container{
    display: flex;
    height: 500px;
    width: 400px;
    background-color: whitesmoke;
    justify-content: center;
}

.display{
    display: flex;
    height: 100px;
    width: 400px;
    background-color: lightgrey;
    border-color: black;
    border-radius: 3px;
    border-top: 5px;
    border: thin solid black;
    justify-content: end;
    align-items: flex-end;
}

.display-text{
  font-size: 70px;
  margin: 5px;
}